<section id="contact" class="get-started">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold text-capitalize">Contact Us</h1>
      <div class="heading-line"></div>
      <p class="lh-lg">
        Get in Touch
      </p>
    </div>

    <!-- START THE CTA CONTENT  -->
    <div class="row text-white">
      <div class="col-12 gradient shadow p-3">
        <div class="cta-info w-100">
          <h4 class="display-4 fw-bold">Ready to illuminate your project with Paragon Electric Ontario Inc.?</h4>
          <p class="pt-2 lh-lg">
            Contact our founder, Joe Messina,
            directly by phone or text at <strong class="secondary-text">{{ PHONE_NUMBER }}</strong> or email <strong class="secondary-text">{{ EMAIL }}</strong>  for personalized assistance and to schedule your free estimate. We look
            forward to bringing our expertise to your residential or commercial electrical needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
