<section id="about" class="about">
  <div class="container">
    <div class="row text-center mt-5">
      <h1 class="display-3 fw-bold text-capitalize">About Us</h1>
      <div class="heading-line"></div>
      <p class="lead">
        Our Story.
      </p>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <p class="lh-lg">
          Established with a passion for precision and a commitment to quality, Paragon Electric Ontario Inc. has
          been a shining beacon in the Ottawa electrical landscape for over 13 years. Led by our experienced Master
          Electrician, we are dedicated to delivering unparalleled expertise and exceptional service. As a locally
          owned and operated business, we take pride in being an integral part of the Ottawa community. We will
          exceed expectations, ensuring the safety and satisfaction of our valued clients.
        </p>
      </div>
    </div>
  </div>
</section>
