<section id="companies" class="companies">
  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/images/logo-full.png" alt="marketing illustration" class="img-fluid">
      </div>
    </div>
  </div>

  <!-- START THE CAMPANIES CONTENT  -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="lh-lg text-center">
          At {{ FULL_COMPANY_NAME }}, we illuminate your projects with over 13 years of dedicated experience
          in professional commercial and residential electrical work. As your trusted local electrician in Ottawa,
          Fully licensed and insured, we bring expertise, reliability, and a commitment to excellence to every
          project. From new home builds to residential upgrades and commercial services, Paragon Electric is your
          partner for all electrical needs. Contact us today for a free estimate and experience the Paragon
          difference.
        </p>
      </div>
    </div>
  </div>
</section>
